/*
Creator: Miriam Alter
Date created: 3/10/19
Date last modified: 3/16/19
*/

body {
	background-color: #fef9ff;
	color: #0d1f2d;
}
header, footer {
	background-color: black;
	color: white;
	border: 2px dotted white;
}
.border {
	border: thick solid blue;
}
#experience {
	border: thin solid orange;
}